// 公共样式，子应用可以直接使用，以-m-开头

.-m-card {
  border-radius: 4px;
  padding: 18px;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  color: #1C1E21;
  background-color: white;
  line-height: 1.6em;

  &.lightblue {
    background-color: lightblue;
  }

  &.lightcoral {
    background-color: lightcoral;
  }

  &.lightcyan {
    background-color: lightcyan;
  }

  &.lightgoldenrodyellow {
    background-color: lightgoldenrodyellow;
  }

  &.lightgray {
    background-color: lightgray;
  }

  &.lightgreen {
    background-color: lightgreen;
  }

  &.lightgrey {
    background-color: lightgrey;
  }

  &.lightgrey {
    background-color: lightgrey;
  }

  &.lightpink {
    background-color: lightpink;
  }

  &.lightsalmon {
    background-color: lightsalmon;
  }

  &.lightseagreen {
    background-color: lightseagreen;
  }

  &.lightskyblue {
    background-color: lightskyblue;
  }

  .-m-title {
    display: block;
    position: relative;
    font-size: 18px;
    color: #0e2441;
    font-weight: 600;
    padding-left: 8px;
    margin-bottom: 8px;

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 3px;
      height: 15px;
      transform: translate(0, -50%);
      background-color: #358cff;
    }
  }
}