:root {
  /** 防止子应用导致的高度溢出 */
  overflow: hidden;
}

#__micro-app-main {
  width: 100vw;

  // 路由组件样式
  .__micro-app-container {

    &.__content,
    .__content {
      display: contents;
    }

    .__micro-app {
      height: 100%;
    }

    .__tip-msg {
      width: 100%;
      font-size: 20px;
      text-align: center;
      padding: 24px;
      border-radius: 3px;
      margin-bottom: 5px;

      &.__error,
      &.__config,
      &.__loading {
        background: repeating-linear-gradient(45deg,
            white,
            white 5px,
            #d9d9d9 5px,
            #d9d9d9 10px);
      }

      &.__error {
        color: #ff4949;
      }

      &.__config {
        color: #ffba00;
      }

      &.__loading {
        color: #1890ff;
      }

      .__reload-btn,
      .__close-btn {
        cursor: pointer;
      }
    }
  }
}

/** 重置样式表 */
@import '@/style/reset.scss';

/** 在这导入团队用的样式 */
@import '@/style/common.scss';

/** 覆盖子应用样式 */
@import '@/style/overflow.scss';