:root {
  /** 防止子应用导致的高度溢出 */
  overflow: hidden;
}

#__micro-app-main {
  width: 100vw;

  // 路由组件样式
  .__micro-app-container {

    &.__content,
    .__content {
      display: contents;
    }

    .__micro-app {
      height: 100%;
    }

    .__tip-msg {
      width: 100%;
      font-size: 14px;
      text-align: center;
      padding: 10px;
      border-radius: 3px;
      font-weight: 800;
      margin-bottom: 2px;

      &.__error {
        color: #fff1f0;
        background-color: #f5222d;
      }

      &.__config {
        color: #fff7e6;
        background-color: #fa8c16;
      }

      &.__loading {
        color: #e6f4ff;
        background-color: #1677ff;
      }
    }
  }
}

/** 重置样式表 */
@import '@/style/reset.scss';

/** 在这导入团队用的样式 */
@import '@/style/common.scss';

/** 覆盖子应用样式 */
@import '@/style/overflow.scss';